*{
    margin:0;
    padding:0;
}
main{
    margin: 2% 4%;
}
.login-section{
    width:50vw;
    margin: 0 2%;
}
.container{
    display: flex;
    justify-content:center;
}
.nav-section{
    display:flex;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.logo{
    width:3rem;
    height: 2.4rem;
    margin-right:8px;
}

.logo-container div h3{
    font-size:1rem;
    font-family: sans-serif;
}
.logo-container div p{
    font-size: 0.8rem;
    font-weight:500;
    font-family: sans-serif;
}
.sign-up-container{
    display:flex;
    align-items:center;
}
.sign-up-container p{
    color: #64748b;
}

.tooltip{
    display:none;
    position:absolute;
    right:44%;
    top:10.2%;
    z-index: 10;
    
}
.tooltip .tooltip-pointer{
    position:absolute;
    width:15px;
    top:-13px;
    right:16%;
}
.tooltip .tooltip-text{
    width:12rem;
    background:black;
   
}
.tooltip-text{
    border-radius:8px;
    padding:8px;
}
.tooltip-text div p{
    color:white;
    font-weight:400 !important;
    font-size:0.9rem;
    margin-left:-1px;
}

.tooltip-text div img{
    width:25px;
}
.tooltip-text div{
    display:flex;
    justify-content:flex-start;
    align-items:center;
   
    
}
.sign-up-container .hover-btn{
    position: relative;
    display: block;
    background: white;
    color: red;
    border: 1px solid #6b7280;
    border-radius:30px;
    padding: 6px 15px;
    margin-left:7px;
    cursor:pointer;
    font-weight:600;

}

.hover-btn:hover + .tooltip{
    display: block !important;
}
.welcome-back{
    margin: 15vh 0 30px 0;

}
.welcome-back h1{
    font-size:3rem;
    text-align:center;
    font-family: sans-serif;
}
.welcome-back p{
    color:#475569;
    text-align:center;
    font-family: sans-serif;
    font-weight:500;
}
form .inputs{
    display: flex;
    justify-content:center;
}
form .inputs div div input{
    height:40px;
    width:30rem;
    margin: 8px 0;
    border-radius:8px;
    border: .5px solid #e5e7eb;
    padding: 0 10px;
}
form .password-container .password-toggle{
    display:none;
    position: absolute;
    width:40px;
    right: 10px;
    top: 49%;
    left: 44%;
    background: none;
    border: none;
    cursor: pointer;
    
}
form .inputs div div input:hover{
    border: .5px solid #94a3b8;

}
form .inputs div div input:focus{
    outline: 1px solid yellow; /* Adjust thickness and color as needed */
    outline-offset: 1px;
}

form .inputs .checkbox label input{
    width:15px;
    height:18px;
    border: .1px solid #e5e7eb;
    margin:5px;
}
form .inputs .checkbox label input:focus{
    outline: none;
}
form .checkbox label{
    display:flex;
    align-items:center;
    margin: 10px 0;
}
form button{
    width:100%;
    font-size:1.3em;
    padding: 12px 0;
    border-radius:20px;
    border: none;
    color:white;
    background:#d1d5db;
    font-weight:600;
    cursor:pointer;
}

.forgot-section{
    margin:35px 0;
    display: flex;
    justify-content:center;
    items-align:center;
    
}
.forgot-section a{
    font-family: sans-serif;
    font-weight:600;
    color:red;
    margin: 0 8px;
    text-decoration:none;
}
.forgot-section span{
    font-weight:600;
    margin-top:-4px;
}
.enroll-container{
     display:none;   
}
hr{
    display:none;
}
footer{
    margin:19vh 0;
}
footer div{
    display: flex;
    justify-content:center;
    align-items: center; 
   
}
.image-section img{
    height:95vh;
    border-radius:17px;
}
footer .dot{
    font-size:1.7rem;
    margin: -15px 6px 0 6px;
}
footer div .dot{
    font-size:1.7rem;
}
footer div span{
   color:red;
}
/* Styles for tablets (e.g., screens up to 768px) */
@media (max-width: 768px) {
    .login-section {
        width: 90vw !important;
    }

    .logo {
        width: 2.5rem;
        height: 2rem;
    }

    .logo-container div h3 {
        font-size: 0.9rem;
    }

    .logo-container div p {
        font-size: 0.7rem;
    }

    form .inputs div div input {
        width: 60vw;
        font-size:1rem;
    }

    .welcome-back h1 {
        font-size: 3rem;
    }

    .welcome-back p {
        font-size: 1rem;
    }
    form .inputs div div span{
        position: absolute;
        right: 10px;
        top: 46% !important;
        left: 65% !important;
        background: none;
        border: none;
        cursor: pointer;
        
    }
    .sign-up-container button {
        padding: 5px 12px;
    }
    .tooltip{
        position:absolute;
        right:7% !important;
        top:7.7% !important;
    }
    footer {
        margin: 21vh 0;
        text-align:center;
    }

    .image-section img {
        display:none;
    }
}
/* Styles for mid screens (e.g., screens up to 1024px) */
@media (max-width: 1024px) {
    .login-section {
        width: 50vw;
        
    }

    .logo {
        width: 2.5rem;
        height: 2rem;
    }

    .logo-container div h3 {
        font-size: 0.9rem;
    }

    .logo-container div p {
        font-size: 0.7rem;
    }

    form .inputs div div input {
        width: 40vw;
    }
    .tooltip{
        position:absolute;
        right:53%;
        top:8.4%;
    }
    .welcome-back h1 {
        font-size: 3rem;
    }

    .welcome-back p {
        font-size: 1rem;
    }

    .sign-up-container button {
        padding: 5px 12px;
    }
    .sign-up-container p {
       text-wrap:nowrap;
       margin-left:10px;
       margin-right:3px;
    }
    form .inputs div div span{
        position: absolute;
        right: 10px;
        top: 49%;
        left: 44%;
        background: none;
        border: none;
        cursor: pointer;
        
    }
    footer {
        margin: 17vh 0;
    }

    .image-section img {
        width:45vw;
    }
    footer .copy-write p{
        text-wrap:nowrap;
    }
    footer .FDIC{
        text-wrap:nowrap;
        display:flex;
    }
    footer .copy-write .dot{
   display:none;
    }
    footer div{
        display: inline-block;
        text-align:center;
    }
}

/* Styles for mobile screens (e.g., screens up to 480px) */
@media (max-width: 480px) {
    main {
        margin: 2% 2%;
    }

    .login-section {
        width: 95vw;
    }
    .sign-up-container{
        display:none;
    }
    .logo {
        width: 5rem;
        height: 5rem;
        margin:40px 0 0 0;
    }
    .logo-container{
        margin: 0 auto;
    }
    .logo-container div h3, .logo-container div p{
        display:none;
    }
    form .inputs div div input {
        width: 80vw;
        height:48px;
        font-size:1rem
    }

    .welcome-back h1 {
        font-size: 2.3rem;
        margin-top:-7rem;
    }

    .welcome-back p {
        font-size: 1.4rem;
    }

    .sign-up-container button {
        padding: 4px 10px;
    }
    .enroll-container{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .enroll-container p{
        color: #64748b;
        font-size:1.2rem;
        text-wrap:nowrap;
    }
    .enroll-container button{
        background: white;
        color: red;
        border: 1px solid #6b7280;
        border-radius:30px;
        padding: 6px 15px;
        margin-left:7px;
        cursor:pointer;
        font-weight:600;
        font-size:1.2rem;
        text-wrap:nowrap;
    
    }
    form .inputs div div span{
        position: absolute;
        font-size:1.2rem !important;
        right: 10px;
        top: 44.5% !important;
        left: 80% !important;
        background: none;
        border: none;
        cursor: pointer;
        
    }
    hr{
        display:flex;
        height:.1px;
        margin: 35px 0;
    }
    footer {
        margin: 10vh 0;
    }
    footer .FDIC{
        text-wrap:nowrap;
        display:flex;
    }
    footer .copy-write .dot{
   display:none;
    }
    footer div{
        display: inline-block;
        text-align:center;
    }
    .image-section img {
        display:none;
    }
}
